

<p><audio autoplay>
   <source src="" type="audio/mpeg">
</audio></p>
<br>

<p><img src="acidtounge.jpg"></p>
<br> <br>

<br><br><p><%=yes%><br><%=places%><br><%=leave%><br><%=greedy%><br><%=hits_taken%> </p>



<form action="/trippin_at_home" method="POST"> <p>
 
 <input type="submit" name="what" value="Stay">

 <input type="submit" name="what" value="Leave">
</p>

  <br>
</form> 

